<%- include("partials/header") %>
<div class="ui main text container">
	<div class="ui huge header"> Prayer App</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% prayers.forEach(function(prayer){ %>
			<div class="item">
				<div class="image">
					<img class="ui middle aligned" src="<%= prayer.image %>">	
				</div>
				<div class="content">
					<a class="header" href="/prayers/<%= prayer._id %>"><%= prayer.title %> </a>
					<div class="meta">
						<span> <%= prayer.created.toDateString() %></span>		
					</div>
					<div class="description">
						<!-- <% if (prayer.content.length <= 100) { %>
							<%= prayer.content %>
						<% } else { %> -->
							<%= prayer.content.substring(0,100)%>...
						<!-- <% } %> -->
					</div>
					<div class="extra">
						<a class="ui floated basic violet button" href="/prayers/<%= prayer._id %>">Read More
						<i class="right chevron icon"></i></a>		
					</div>
				</div>
			</div>
			<% }); %>
			
		</div>
	</div>
</div>
<%- include("partials/footer") %>
